<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vipward/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/vipward/api/
  RewriteRule . /vipward/index.html [L]
</IfModule>
